<h1>Listing hops</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Alpha acids</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hops.each do |hop| %>
      <tr>
        <td><%= hop.name %></td>
        <td><%= hop.alpha_acids %></td>
        <td><%= hop.country.name %></td>
        <td><%= link_to 'Show', hop %></td>
        <td><%= link_to 'Edit', edit_hop_path(hop) %></td>
        <td><%= link_to 'Destroy', hop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hop', new_hop_path %>
