<%= form_for(@malt) do |f| %>
  <% if @malt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@malt.errors.count, "error") %> prohibited this malt from being saved:</h2>

      <ul>
      <% @malt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ebc %><br>
    <%= f.number_field :ebc %>
  </div>
  <div class="field">
    <%= f.label :country_id %><br>
    <%= f.select :country_id, @options_country %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
